/* ******************background************************ */

.fullPage {
  height: 100vh;
  background-color: rgb(224, 232, 255);
  text-align: center;
}

.mainBack {
  height: 100vh;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

/* ****************************image partie haute************************** */

.card {
  padding-top: 75px;
  width: 400px;
  margin: auto;
  border-radius: 20px 20px 0 0;
}

.imagetop {
  border-radius: 30px;
}
